table {
  width: 100%;
  margin-top: 10px;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.search {
  margin-right: 10px;
}

.name {
  width: 40%;
}

.name-text {
  flex-direction: column;
  text-align: left;
}

.age {
  width: 10%
}

.user-name {
  width: 20%
}

.hire-date {
  width: 15%
}

.actions {
  width: 15%
}

.table-header {
  background-color: lightgrey;
  font-weight: 800 !important;
  /*text-align: left;*/
}

.buttons {
  margin-top: 25px;
}
